<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Contact Table</h4>
       
            </p>
            <table class="table" >
              <thead>
                <tr>
                  <th class="design">First Name</th>
                  <th class="design">Last Name</th>
                  <th class="design">Contact Number</th>
                  <th class="design">E-mail</th>
                  <th class="design">Message</th>
                  

                </tr>
              </thead>
              <tbody>
                {% for k in displaycontact %}
                <tr>
                    <td class="datas">{{k.firstname}}</td>
                    <td class="datas">{{k.lastname}}</td>
                    <td class="datas">{{k.contact}}</td>
                    <td class="datas">{{k.email}}</td>
                    <td class="datas">{{k.message}}</td>
        
                
                </tr>
                {% endfor %}
        
    
               
                  
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<style>
.design{
        color: rgb(210, 7, 7) ;
        font-weight: bold;
        font-size: 15px;        
        
        }
.datas{
    font-weight: 700;
    font-size: 15px;
}        
</style>
</body>
</html>
{% endblock %}